body {
    font-family: 'Montserrat', sans-serif;
    background: #F5F7FA;
}
.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main-content-section {
    padding: 100px 90px;
    width: 830px;
}
.main-container-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

/* about me section */

.about-me-section{
    margin: 0 0 40px 0;
}
.about-me-proffesion {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 0;
}
.my-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 25px 0;
}
.about-me-section p {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* my project section */

.my-projects-section {
    margin: 0 0 50px 0;
}
.my-projects-section li {
    font-weight: bold;
    color: #000;    
}
.my-projects-list {
    padding: 0 0 0 17px;
}
.my-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.my-projects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

/* my work experience section */

.my-work-experience-container{
    padding: 0 15px 0 0;
    width: 550px;
}
.my-specialty {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 10px 0;
}
.my-work-company {
    color: #77fb3a;
}
.my-work-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.my-work-period span{
    color: #000;
}
.my-work-experience-section li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-work-experience-section-list {
    padding: 0 0 0 18px;
}
/* my education section */

.my-education-section{
    width: 550px;
    margin: 45px 0 0 0;
}
.university-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #77fb3a;
    margin: 0 0 10px 0;
}
.my-specialty {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 10px 0;
}
.my-education-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}
.my-education-period span{
    color: #000;
}

/* sidebar section */

.sidebar-section {
    background-color: #1E2939;
    width: 370px;
    padding-top: 40px;
}
.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-top: 10px;
    color: #fff;
}

/* Contact section */
.contacts-section {
    margin: 50px 0 0 40px;
}
.contacts-section-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;
}
.contacts-section-link {
    font-weight: normal;
    font-size: 14px;
    color: #565E6A;
}

/* Tech skills section */

.tech-skills-section {
    margin: 50px 0 0 40px;
}
.tech-skills-list {
    padding: 0 0 0 17px;
}
.tech-skills-list li{
    color: #77fb3a;
}
.tech-skills-list-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

/* Soft skills section */

.soft-skills-section {
    margin: 50px 0 0 40px;
}
.soft-skills-list {
    padding: 0 0 0 17px;
}
.soft-skills-list li{
    color: #77fb3a;
}
.soft-skills-list-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}